<div class="w-full flex flex-col md:flex-row justify-between items-start gap-4">
  <div class="flex items-center">
    <form [formGroup]="updateUsernameFormGroup">
      <div>
        <input
          type="text"
          formControlName="username"
          class="app-input"
          [class]="usernameClass"
          required
          />
        @if (username?.invalid && (username?.dirty || username?.touched)) {
          <div>
            @if (username?.hasError('required')) {
              <div class="text-sm text-bv-danger py-1">
                <app-icon name="circle-alert" [size]="16" /> username is required.
              </div>
            }
            @if (username?.hasError('minlength')) {
              <div class="text-sm text-bv-danger py-1">
                <app-icon name="circle-alert" [size]="16" /> username is too short.
              </div>
            }
            @if (username?.hasError('maxlength')) {
              <div class="text-sm text-bv-danger py-1">
                <app-icon name="circle-alert" [size]="16" /> username is too long.
              </div>
            }
          </div>
        }
      </div>
    </form>
  </div>

  @if (!isEditing){
    <button appButton variant="secondary" (click)="toggleEditing()">Change username</button>
    }@else {
    <div class="flex gap-4">
      <button appButton variant="secondary" (click)="onCancel()">Cancel</button>
      <button appButton variant="primary" [disabled]="disableSubmit" (click)="onSave()">Save</button>
    </div>
  }
</div>
