<container-wrapper>
    <div class="py-6 px-4 sm:px-6 lg:px-8 border-b border-zinc-200 dark:border-zinc-800">
        <div class="flex flex-col md:flex-row md:items-center md:justify-between">
            <div>
                <h1 class="text-2xl font-bold">
                    {{ titleText }}
                </h1>
                <p class="mt-1 text-sm text-secondary">
                    <ng-content />
                </p>
            </div>

            @if (showActionButton) {
            <div class="mt-4 md:mt-0">
                <ng-content select=".action-button" />
            </div>
            }
        </div>
    </div>
</container-wrapper>
