<div>
    {{ userReviews | json }}
</div>
<div class="container mx-auto px-2 pt-8 lg:pt-16">
    <h1 class="text-4xl text-center">Reviews</h1>
    <p class="text-gray-400 text-center">Reviews... <br /></p>
</div>

@if(userReviews.length === 0) {
<div class="text-gray-500 text-center">No reviews available</div>
}
<div>
    @for (game of userGames; track $index) {
    <div class="container mx-auto grid grid-cols-9">
        <div>id:{{ game.id }}</div>
        <div>{{ game.title }}</div>
        <div>time:{{ game.gameAvgDuration }}</div>
        <div>-P:{{ game.minPlayers }}</div>
        <div>+P:{{ game.maxPlayers }}</div>
        <div>nota:{{ getReview(game.id) }}</div>
        <button class="app-btn-error" (click)="deleteReview( game.id )">X</button>
        <button class="app-btn-primary" (click)="setReview( game.id, 5 )">Set to 5</button>
        <button class="app-btn-primary" (click)="setReview( game.id, 10 )">Set to 10</button>
    </div>
    }
</div>
