<header class="p-2 border-b border-zinc-500 bg-white dark:bg-zinc-800">
    <nav class="animate__animated animate__fadeIn relative flex items-center justify-between px-4 z-40">
        <a routerLink="/" aria-label="Home">
            <span class="hidden">Home</span>
            <img src="/images/logo.webp" alt="logo" class="w-16" />
        </a>

        <app-dark-mode-toggle />
        <!-- DESKTOP MENU -->
        <div>
            <div class="flex items-center justify-between gap-6">
                @if (!isLogged) {
                <a class="hidden lg:block" href="#features">Features</a>
                <a class="hidden lg:block" href="#how-it-works">How it works</a>
                <a routerLink="/login">Log In</a>
                <a routerLink="/register" class="app-btn-primary">Sign Up</a>
                } @if (isLogged) {
                <app-profile-menu />
                }
            </div>
        </div>

        <!-- <div class="absolute left-0 top-20 lg:relative lg:top-0">
             <language-selector />
        </div> -->
    </nav>
</header>
