<header class="p-2 border-b border-zinc-500">
    <nav class="animate__animated animate__fadeIn relative flex items-center justify-between px-4">
        <a routerLink="/" aria-label="Home">
            <span class="hidden">Home</span>
            <img src="/images/logo.webp" alt="logo" class="w-16" />
        </a>

        <!-- DESKTOP MENU -->
        <div class="hidden lg:block">
            <a routerLink="/dashboard" class="{{ styles.link }} {{ getIsLogged ? '' : 'hidden' }}">Dashboard</a>
            <!-- <a class={styles_link} href={`/${lang}/games`}>Games list</a> -->
            <a
                routerLink="/login"
                class="rounded bg-green-600 px-4 py-2 text-xl font-bold hover:bg-green-700 {{
                    getIsLogged ? 'hidden' : ''
                }}"
            >
                Log in
            </a>

            <button
                (click)="logout()"
                class="rounded bg-red-600 px-4 py-2 text-xl font-bold hover:bg-red-700 {{
                    getIsLogged ? '' : 'hidden'
                }}"
            >
                Sign out
            </button>
        </div>

        <div class="absolute left-0 top-20 lg:relative lg:top-0">
             <language-selector />
        </div>

        <!-- MOBILE MENU -->
        <button id="menu-btn" class="block text-4xl lg:hidden" aria-label="menu">
            <i class="bi bi-list"></i>
        </button>

        <div id="menu" class="absolute right-0 top-20 hidden flex-col items-end lg:hidden">
            <a href="/games" class="{{ styles.link }}">Games list</a>
        </div>
    </nav>
</header>


<!-- test -->
<a routerLink="/login" routerLinkActive="text-blue-600" class="p-4 border inline-block">Login</a>
<a routerLink="/register" routerLinkActive="text-blue-600" class="p-4 border inline-block">Register</a>
<hr/>
<!-- endtest -->
