<div class="grid grid-rows-2 rounded bg-zinc-800 p-4 w-40">
    <div
        class="bg-cover bg-no-repeat bg-center h-full w-full overflow-hidden"
        [style]="{ 'background-image': 'url(' + imageUrl + ')' }"
    ></div>

    <div class="relative overflow-hidden">
        <h3 class="py-2 text-lg overflow-hidden text-ellipsis whitespace-nowrap">{{ title }}</h3>
        <p><i class="bi bi-clock-fill"></i> {{ gameAvgDuration }} mins</p>
        <p><i class="bi bi-people-fill"></i> {{ minPlayers }} - {{ maxPlayers }}</p>
        @if (review) {
        <review-display [review]="review" />
        }
    </div>
</div>
