<div class="container mx-auto pt-8 lg:pt-16 px-4">
    <!-- GROUPS -->
    <h1 class="text-2xl font-bold text-center pb-8">My Groups</h1>

    <div class="flex justify-end pb-8">
        <a routerLink="/create-group" class="app-btn-primary">Create Group</a>
    </div>

    <section class="grid grid-cols-1 lg:grid-cols-2 gap-8 mb-40">
        @if (userGroups.length === 0) {
            <p class="text-gray-400 text-center col-span-2">You don't have any groups yet.</p>
        } @else {
            @for (group of userGroups; track $index) {
            <app-card-group [group]="group" [invitations]="invitationsGroupIndex[group.id]" />
            }
        }
    </section>
</div>
