<div class="container mx-auto pt-8 lg:pt-16 px-4">
    <!-- GROUPS -->
    <h1 class="text-2xl font-bold text-center">My Groups</h1>

    <div class="flex justify-end pb-8">
        <button class="app-btn-primary">
            Create Group
        </button>
    </div>
      
    <section class="grid grid-cols-1 lg:grid-cols-2 gap-8 mb-40">
        @for (group of userGroups; track $index) {
            <app-group-card [group]="group"  [groupMembersIndex]="groupMembersIndex" [membersIndex]="membersIndex" [gamesIndex]="gamesIndex" />
        }
    </section>

    <!-- GAMES -->
    <h1 class="text-2xl font-bold text-center">My Games</h1>

    <div class="flex justify-end pb-8">
        <button class="app-btn-primary">
            Add Games
        </button>
    </div>

    <!-- <div class='flex gap-2 flex-wrap'>
        {gameDetails.map(game =>
            <GameCard
                title={game.title}
                imageUrl={'game.imageUrl'}
                gameAvgDuration={game.gameAvgDuration}
                minPlayers={game.minPlayers}
                maxPlayers={game.maxPlayers}
            />
        )}
        <a href={`/${lang}/add-games`} class="h-50 bg-zinc-700 hover:bg-zinc-800 hover:cursor-pointer p-2 min-w-40 rounded flex items-center justify-center">
            <i class="bi bi-plus-lg"/>
        </a>
    </div> -->
</div>
