<app-page-header titleText="Collection" [showActionButton]="true">
    Manage your board games, wishlist and reviews
    <app-button class="action-button" icon="plus-lg" routerLink="/collection/browse">Add New Game</app-button>
</app-page-header>

<container-wrapper>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <!-- --------------------------
            1 - My Games Card
        ---------------------------- -->
        <app-card-section
            icon="collection-fill"
            color="blue"
            titleText="My Games"
            description="Browse and manage your board game collection"
            cardLink="/collection/games"
        >
            <!-- Badge -->
            <app-badge class="app-card-section-badge" color="blue" [text]="userGames$().length + ' games'" />

            <!-- Content -->
            <div></div>

            <!-- View all highlight -->
            <span class="text-blue-600 dark:text-blue-400 group-hover:underline flex items-center text-sm font-medium"> View all > </span>
        </app-card-section>

        <!-- --------------------------
            2 - Stats Card
        ---------------------------- -->
        <app-card-section
            icon="search"
            color="green"
            titleText="Browse and discover"
            description="Find new games to add to your collection"
            cardLink="/collection/browse"
        >
            <!-- Content -->
            <div></div>

            <!-- View all highlight -->
            <span class="text-green-600 dark:text-green-400 group-hover:underline flex items-center text-sm font-medium"> View all > </span>
        </app-card-section>

        <!-- --------------------------
            3 - Reviews Card
        ---------------------------- -->
        <app-card-section
            icon="star-fill"
            color="orange"
            titleText="Reviews"
            description="Rate and review the games you've played"
            cardLink="/collection/reviews"
        >
            <!-- Badge -->
            <app-badge class="app-card-section-badge" color="orange" [text]="userReviews$().length + ' reviews'" />

            <!-- Content -->
            <div></div>

            <!-- View all highlight -->
            <span class="text-orange-600 dark:text-orange-400 group-hover:underline flex items-center text-sm font-medium text-nowrap">
                View all >
            </span>
        </app-card-section>

        <!-- --------------------------
            4 - Wishlist Card
        ---------------------------- -->
        <app-card-section
            icon="suit-heart-fill"
            color="red"
            titleText="Wishlist"
            description="Keep track of games you want to add to your collection"
            cardLink="/collection/wishlist"
        >
            <!-- Badge -->
            <app-badge class="app-card-section-badge" color="red" [text]="userWishlist$().length + ' games'" />

            <!-- Content -->
            <div></div>

            <!-- View all highlight -->
            <span class="text-red-600 dark:text-red-400 group-hover:underline flex items-center text-sm font-medium"> View all > </span>
        </app-card-section>


    </div>

    <div class="pt-24">
        <app-collection-activity />
    </div>
</container-wrapper>
