<div class="mt-24 lg:mt-48 mb-96 mx-2 max-w-5xl md:mx-auto p-6">
    <div class="shadow-md rounded-lg p-6 bg-zinc-800 relative">
        <!-- TOP RIGHT BUTTONS -->
        <div class="absolute -top-16 left-0">    
            <button (click)="onGoBack()" class="app-btn-danger" title="Cancel editing">
                <i class="bi bi-arrow-left"></i> Back
            </button>
        </div>

        <div class="absolute -top-16 right-0">
            <button
                (click)="onSaveChanges()"
                class="app-btn-primary"
                title="Save changes"
                [disabled]="isLoading || membersToRemoveFromGroup.length === 0"
            >
                Save changes
            </button>
        </div>

        <div class="absolute top-3 right-3">
            <button (click)="onDeleteGroup()" class="app-btn-danger py-1! px-2!" title="Delete group">
                <i class="bi bi-trash"></i>
            </button>
        </div>

        <!-- GROUP CARD -->
        <h2 class="text-xl font-semibold mb-4">{{ groupData?.name }}</h2>
        <hr />

        <!-- MEMBERS DATA -->
        <h3 class="pt-8 font-bold tracking-wider">Members</h3>
        <ul class="pb-8 grid lg:grid-cols-2 gap-4">
            @if (groupData && groupData.members) {
                @for (member of groupData.members; track $index) {
                    <li class="flex justify-between items-center relative">
                        <div class="flex items-center p-4">
                            <app-image-profile [imageUrl]="member.imageUrl" />
                            <div class="ml-3">
                                <p class="font-semibold text-white">{{ member.displayName }}</p>
                                <p class="text-gray-400 text-sm">
                                    <span>{{ member.username }}</span>
                                    @if (groupData.createdBy === member.id) {
                                        <span class="text-blue-500 pl-2">owner</span>
                                    }
                                </p>
                            </div>
                        </div>
                        @if (groupData.createdBy !== member.id) {
                            @if (membersToRemoveFromGroup.includes(member.id)) {
                                <button (click)="markAsToRemove(member.id)" class="absolute top-0 right-0 left-0 bottom-0 bg-red-800/50 rounded-lg p-2 border-2 border-red-600">
                                    <span class="font-bold text-xl tracking-wider text-red-500">Cancel</span>
                                </button>
                            } @else {
                                <button (click)="markAsToRemove(member.id)" class="app-btn-danger py-1! px-2! mr-2" title="Remove member">
                                    <i class="bi bi-x"></i>
                                </button>
                            }
                        }
                    </li>
                }
            }
        </ul>

        <!-- INVITED MEMBERS -->
        @if (groupData && invitationsGroupIndex[groupData.id] && invitationsGroupIndex[groupData.id].length > 0) {
            <hr />
            <h3 class="pt-8 font-bold tracking-wider">Invitations pending</h3>
            <ul class="pb-8 grid lg:grid-cols-2 gap-4">
            @for (invitation of invitationsGroupIndex[groupData.id]; track $index) {
                <li class="flex justify-between items-center relative">
                    <div class="flex items-center p-4 opacity-40">
                        <app-image-profile [imageUrl]="invitation.toAccount.imageUrl" />
                        <div class="ml-3">
                            <p class="font-semibold text-white">{{ invitation.toAccount.displayName }}</p>
                            <p class="text-gray-400 text-sm">{{ invitation.toAccount.username }}</p>
                        </div>
                    </div>
                    @if (membersToRemoveFromGroup.includes(invitation.toAccountId)) {
                        <button (click)="markAsToRemove(invitation.toAccountId)" class="absolute top-0 right-0 left-0 bottom-0 bg-red-800/50 rounded-lg p-2 border-2 border-red-600">
                            <span class="font-bold text-xl tracking-wider text-red-500">Cancel</span>
                        </button>
                    } @else {
                        <button (click)="markAsToRemove(invitation.toAccountId)" class="app-btn-danger py-1! px-2! mr-2" title="Remove member">
                            <i class="bi bi-x"></i>
                        </button>
                    }
                </li>
            }
            </ul>
        }

        <hr />
    </div>

    <!-- INVITE PEOPLE -->
    <div class="pt-8 pb-2 grid lg:grid-cols-2">
        <span></span>
        <div class="grid md:grid-cols-2 gap-4">
            <div>
                <input
                    type="text"
                    [formControl]="usernameToInvite"
                    placeholder="Search by username"
                    class="app-input"
                    [class]="usernameClass"
                    (keydown.enter)="onInviteUser()"
                    required
                />
                <div *ngIf="username?.invalid && (username?.dirty || username?.touched)">
                    <div *ngIf="username?.hasError('required')" class="text-sm text-red-500 py-1">
                        <i class="bi bi-exclamation-circle-fill"></i> Username is required.
                    </div>
                    <div *ngIf="username?.hasError('minlength')" class="text-sm text-red-500 py-1">
                        <i class="bi bi-exclamation-circle-fill"></i> Username is too short.
                    </div>
                    <div *ngIf="username?.hasError('maxlength')" class="text-sm text-red-500 py-1">
                        <i class="bi bi-exclamation-circle-fill"></i> Username is too long.
                    </div>
                </div>
            </div>
            <button class="app-btn-primary" title="Invite user" (click)="onInviteUser()" [disabled]="disableInviteButton">
                Invite
            </button>
        </div>
    </div>
</div>
