<h1 class="text-4xl text-center pt-24 lg:pt-48">{{ groupData?.groupName }}</h1>
<p class="text-gray-400 text-center py-8">
    Edit group members
</p>

<div class="flex flex-col gap-4 rounded bg-zinc-800 p-8 w-96 mx-auto">
hola wey
</div>

<div class="shadow-md rounded-lg p-6 bg-zinc-800 relative">
    <!-- TOP RIGHT BUTTONS -->
    <div class="flex gap-4 absolute top-3 right-3">    
        <button (click)="onCancel()" class="app-btn-errors py-1 px-2" title="Cancel editing">
            <i class="bi bi-x"></i> Cancel
        </button>
    </div>

    <!-- GROUP CARD -->
    <h2 class="text-xl font-semibold mb-4">{{ groupData?.groupName }}</h2>
    <hr />

    <!-- MEMBERS DATA -->
    <ul class="space-y-4 pt-8">
        @if (groupData && groupMembersIndex[groupData.groupId]) {
            @for (memberId of groupMembersIndex[groupData.groupId]; track $index) {
                @if (membersIndex[memberId]) {
                    <li class="pb-6 flex justify-between">
                        <div class="flex items-center p-4">
                            <app-image-profile [imageUrl]="membersIndex[memberId].imageUrl" />
                            <div class="ml-3">
                                <p class="font-semibold text-white">{{ membersIndex[memberId].display_name }}</p>
                                <p class="text-gray-400 text-sm">
                                    <span>{{ membersIndex[memberId].username }}</span>
                                    @if (groupData.groupCreatedBy === membersIndex[memberId].accountId) {
                                        <span class="text-blue-500 pl-2">owner</span>
                                    }
                                </p>
                            </div>
                        </div>
                        <div>
                            @if (gamesIndex[membersIndex[memberId].accountId]) {
                                has {{ gamesIndex[membersIndex[memberId].accountId].length }} games
                            }
                        </div>
                    </li>
                }
            }
        }
    </ul>
    <hr />

    <!-- GROUP DATA -->
    <div class="flex justify-between pt-4">
        <p class="text-gray-400 text-sm">
            <span class="font-semibold">Created:</span> {{ groupData?.groupCreatedAt }}
        </p>
        <p class="text-gray-400">
            <span class="font-semibold">Total games:</span> {{ totalGames.length }}
        </p>
    </div>
</div>
