<div class="flex items-center gap-x-2" [ngClass]="{
    'flex-col': flexCol,
}">
    <!-- Number -->
    <span class="font-medium">{{ parseReview(review) }}</span>
    <!-- Stars -->
    <div class="flex items-center">
        <ng-container *ngFor="let star of fullStars">
            <i class="bi bi-star-fill text-yellow-400"></i>
        </ng-container>
        <ng-container *ngFor="let star of halfStars">
            <i class="bi bi-star-half text-yellow-400"></i>
        </ng-container>
        <ng-container *ngFor="let star of emptyStars">
            <i class="bi bi-star text-yellow-400"></i>
        </ng-container>
    </div>
</div>
