<!--
  Width classes:
  - Default (mobile-first): w-full or specific width if it's an overlay.
  - For this inline example: w-20 when collapsed, md:w-64 when expanded on medium screens.
  - The `transition-all` class enables smooth width changes.
-->
<aside
    class="bg-zinc-100 dark:bg-zinc-800 h-full shadow-md flex flex-col transition-all duration-300 ease-in-out p-4"
    [ngClass]="{
        'w-16': collapsed,
        'w-64': !collapsed
    }"
>
    <!-- Admin Title / Icon -->
    <div
        class="h-[40px] mb-6 flex items-center"
        [ngClass]="{
            'justify-center': collapsed,
            'justify-start': !collapsed
        }"
    >
        <i class="bi bi-shield-lock text-2xl"></i>
        @if (!collapsed) {
        <h2 class="text-xl font-semibold text-zinc-800 dark:text-zinc-100 truncate ml-2">Admin</h2>
        }
    </div>

    <!-- Menu Items -->
    <nav class="flex-grow">
        <ul>
            @for (item of menuItems; track item.routerLink) {
            <li
                [ngClass]="{
                    'flex': collapsed,
                    'block': !collapsed,
                }"
            >
                <a
                    [routerLink]="item.routerLink"
                    routerLinkActive="bg-primary-500 text-white dark:bg-primary-600"
                    [routerLinkActiveOptions]="{ exact: item.exactMatch }"
                    class="flex items-center p-1 my-1 rounded-md hover:bg-zinc-200 dark:hover:bg-zinc-700 transition-colors duration-150 ease-in-out text-zinc-700 dark:text-zinc-300 group block mx-auto"
                    [title]="item.label"
                >
                    <span class="block text-nowrap overflow-hidden">
                        <i class="bi bi-{{ item.icon }} text-xl"></i>
                        @if (!collapsed) {
                        <span class="transition-opacity duration-300 ease-in-out ml-2">{{ item.label }}</span>
                        }
                    </span>
                </a>
            </li>
            }
        </ul>
    </nav>

    <!-- Exit Button - go back to app -->
    @if (!collapsed) {
    <div class="mt-auto p-2 border-t border-zinc-200 dark:border-zinc-700 text-lg">
        <button
            routerLink="/"
            class="w-full flex items-center justify-center p-2 rounded-md hover:bg-zinc-200 dark:hover:bg-zinc-700 cursor-pointer"
        >
            <i class="bi bi-box-arrow-left"></i>
            <span class="ml-4">Exit</span>
        </button>
    </div>
    }
</aside>
