<div class="w-full flex justify-between items-center gap-4">
    <div
        class="flex items-center transition-all"
        [ngClass]="{
            'h-14': !isEditingEmailData,
            'h-44': isEditingEmailData
        }"
    >
        @if (!isEditingEmailData){
        <p class="text-lg font-semibold">{{ userData?.email }}</p>
        } @else {
        <form [formGroup]="updateEmailFormGroup" class="flex flex-col gap-4 rounded bg-zinc-800 p-8 w-96 mx-auto">
            <div>
                <input
                    type="text"
                    formControlName="email"
                    placeholder="email ..."
                    class="app-input"
                    [class]="emailClass"
                    required
                />
                <div *ngIf="email?.invalid && (email?.dirty || email?.touched)">
                    <div *ngIf="email?.hasError('required')" class="text-sm text-red-500 py-1">
                        <i class="bi bi-exclamation-circle-fill"></i> email is required.
                    </div>
                    <div *ngIf="email?.hasError('minlength')" class="text-sm text-red-500 py-1">
                        <i class="bi bi-exclamation-circle-fill"></i> email is too short.
                    </div>
                    <div *ngIf="email?.hasError('maxlength')" class="text-sm text-red-500 py-1">
                        <i class="bi bi-exclamation-circle-fill"></i> email is too long.
                    </div>
                </div>
            </div>
        </form>

        }
    </div>
    @if (!isEditingEmailData){
    <button class="app-btn-secondary" (click)="isEditingEmailData = true">Change email</button>
    }@else {
    <div class="flex flex-col gap-4">
        <button class="app-btn-primary" [disabled]="disableSubmit" (click)="onSave()">Save</button>
        <button class="app-btn-danger" (click)="onCancel()">Cancel</button>
    </div>
    }
</div>
