<app-page-header titleText="Browse Games" [showActionButton]="true">
    Browse games to add to your collection

    <app-button class="action-button" icon="plus-lg" routerLink="/collection/browse/request-new-game">Request New Game</app-button>
</app-page-header>

<container-wrapper>
    <!-- Loading state -->
    @if (isLoadingGames$()) {
        <section class="flex flex-wrap gap-4">
            <app-skeleton-card-game />
            <app-skeleton-card-game />
            <app-skeleton-card-game />
        </section>
    } @else if (gamesNotOwnedByUserComputed().length === 0) {
        <!-- no data -->
        <div class="text-center text-secondary">
            <p>No games in your wishlist yet</p>
        </div>
    } @else {
        <section class="flex flex-wrap gap-4">
            @for (game of gamesNotOwnedByUserComputed(); track $index) {
                <app-card-game
                    [routerLink]="['/games', game.id]"
                    [title]="game.title"
                    [imageUrl]="game.imageUrl"
                    [gameAvgDuration]="game.gameAvgDuration"
                    [minPlayers]="game.minPlayers"
                    [maxPlayers]="game.maxPlayers"
                />
            }
        </section>
    }
</container-wrapper>
