<div id="lang-selector" class="relative">
    <button type="button" class="flex items-center justify-center gap-2 p-2" [attr.aria-expanded]="isListVisible" aria-controls="language-options" (click)="onClick()">
        <app-icon name="languages" [size]="16" aria-hidden="true" />
        <span>{{ currentLanguage }}</span>
    </button>
    <ul id="language-options" class="absolute left-6 top-12 cursor-pointer" [class.hidden]="!isListVisible">
        @for (lang_key of language_titles; track lang_key) {
            <li (click)="redirectToLocale(lang_key)" class="px-2 py-1" [attr.data-lang]="lang_key">
                {{ getLabel(lang_key) }}
            </li>
        }
    </ul>
</div>
