<div class="w-full flex justify-between items-center gap-4">
    <div
        class="flex items-center transition-all"
        [ngClass]="{
            'h-14': !isEditingProfileData,
            'h-44': isEditingProfileData
        }"
    >
        @if (!isEditingProfileData){
        <img [src]="userData?.imageUrl" alt="Profile Picture" class="rounded-full w-12 h-12 mr-4" />
        <p class="text-lg font-semibold">{{ userData?.displayName }}</p>
        } @else {
        <form [formGroup]="updateProfileFormGroup" class="flex flex-col gap-4 rounded bg-zinc-800 p-8 w-96 mx-auto">
            <div>
                <input
                    type="text"
                    formControlName="displayName"
                    placeholder="Name ..."
                    class="app-input"
                    [class]="displayNameClass"
                    required
                />
                <div *ngIf="displayName?.invalid && (displayName?.dirty || displayName?.touched)">
                    <div *ngIf="displayName?.hasError('required')" class="text-sm text-red-500 py-1">
                        <i class="bi bi-exclamation-circle-fill"></i> displayName is required.
                    </div>
                    <div *ngIf="displayName?.hasError('minlength')" class="text-sm text-red-500 py-1">
                        <i class="bi bi-exclamation-circle-fill"></i> displayName is too short.
                    </div>
                    <div *ngIf="displayName?.hasError('maxlength')" class="text-sm text-red-500 py-1">
                        <i class="bi bi-exclamation-circle-fill"></i> displayName is too long.
                    </div>
                </div>
            </div>

            <div>
                <input
                    type="text"
                    formControlName="imageUrl"
                    placeholder="Image URL"
                    class="app-input"
                    [class]="imageUrlClass"
                    required
                />
                <div *ngIf="imageUrl?.invalid && (imageUrl?.dirty || imageUrl?.touched)">
                    <div *ngIf="imageUrl?.hasError('required')" class="text-sm text-red-500 py-1">
                        <i class="bi bi-exclamation-circle-fill"></i> imageUrl is required.
                    </div>
                    <div *ngIf="imageUrl?.hasError('minlength')" class="text-sm text-red-500 py-1">
                        <i class="bi bi-exclamation-circle-fill"></i> imageUrl is too short.
                    </div>
                    <div *ngIf="imageUrl?.hasError('maxlength')" class="text-sm text-red-500 py-1">
                        <i class="bi bi-exclamation-circle-fill"></i> imageUrl is too long.
                    </div>
                </div>
            </div>
        </form>

        }
    </div>
    @if (!isEditingProfileData){
    <button class="app-btn-secondary" (click)="isEditingProfileData = true">Update profile</button>
    }@else {
    <div class="flex flex-col gap-4">
        <button class="app-btn-primary" [disabled]="disableSubmit" (click)="onSave()">Save</button>
        <button class="app-btn-error" (click)="onCancel()">Cancel</button>
    </div>
    }
</div>
