<main class="flex min-h-[80vh] grid-cols-2 justify-end bg-bv-bg text-bv-text lg:grid">
    <div></div>
    <div class="flex flex-col justify-end px-2 py-8 lg:flex lg:w-[36rem] lg:justify-center">
        <h1 class="pb-4 text-left text-3xl font-bold tracking-wider lg:text-5xl">Error 404<br /> Page not found</h1>
        <h2 class="pb-4 text-bv-text-muted">
            Oops, are you lost? <br/> The page you are looking for might have been removed or its name changed.
        </h2>
        <div class="mx-auto lg:ml-0 lg:mr-auto mt-8">
            <a appButton size="large" routerLink="/">Go back home</a>
        </div>
    </div>
</main>
