<container-wrapper>
    <title-subtitle titleText="History">
        Your history of games played in the past meetings
    </title-subtitle>

    <!-- Loading state -->
    @if (isLoadingHistory()) {
        <!-- TODO: custom skeleton matching actual history structure -->
        <app-skeleton-card-group />
    } @else if (userHistory$().length === 0) {
        <!-- no data -->
        <div class="text-center py-8 text-secondary">
            <p>No games played yet</p>
        </div>
    } @else {
        @for (dateGroup of groupedGamesByDateComputed() | keyvalue; track dateGroup.key) {
            <div class="app-bg-secondary p-4 mb-8">
                <h2 class="text-2xl font-semibold mb-4">
                    {{ dateGroup.key | customDate }}
                </h2>

                <!-- Games played on this date -->
                <ul class="grid lg:grid-cols-2 xl:grid-cols-3 gap-4">
                    @for (item of dateGroup.value; track $index) {
                        <div class="app-bg-tertiary rounded-lg p-4 flex gap-4">
                            <!-- Game image -->
                            <img
                                [src]="item.gameData.imageUrl"
                                [alt]="item.gameData.title"
                                loading="lazy"
                                class="w-24 h-24 object-cover rounded-lg"
                            />

                            <!-- Game info -->
                            <div class="flex flex-col justify-between flex-1">
                                <h3 class="text-xl font-semibold mb-1">{{ item.gameData.title }}</h3>

                                <div class="flex justify-between items-end">
                                    <!-- Meet info -->
                                    <div class="text-secondary text-sm">
                                        <p>Group #{{ item.meetData.groupId }}</p>
                                        <p>Meet #{{ item.meetData.id }}</p>
                                    </div>
                                    
                                    <!-- Players -->
                                    <div class="relative h-8 flex items-center">
                                        <!-- Player avatars -->
                                        <div class="flex -space-x-2">
                                            @for (player of item.playedBy; track player.id) {
                                                <app-image-profile
                                                    [title]="player.username"
                                                    class="border-2 rounded-full border-indigo-100 dark:border-zinc-800"
                                                    [avatar]="player.avatar"
                                                    [style.zIndex]="$index"
                                                />
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </ul>
            </div>
        }
    }
</container-wrapper>
