<div class="flex flex-col gap-4 rounded bg-zinc-800 p-8 w-96 mx-auto">
    <input
        type="email"
        [formControl]="emailControl"
        placeholder="Email ..."
        class="rounded border border-zinc-700 bg-zinc-800 px-4 py-2"
    />
    <input
        type="text"
        [formControl]="aliasControl"
        placeholder="Alias (username) ..."
        class="rounded border border-zinc-700 bg-zinc-800 px-4 py-2"
    />
    <input
        type="password"
        [formControl]="passwordControl"
        placeholder="Password ..."
        class="rounded border border-zinc-700 bg-zinc-800 px-4 py-2"
    />
    <input
        type="password"
        [formControl]="confirmPasswordControl"
        placeholder="Confirm password ..."
        class="rounded border border-zinc-700 bg-zinc-800 px-4 py-2"
    />
    <button
        (click)="handleRegister()"
        disabled="{{ isLoading }}"
        class="rounded bg-green-600 px-6 py-4 text-xl font-bold hover:bg-green-700 lg:col-span-3 disabled:cursor-not-allowed disabled:bg-green-400 disabled:hover:bg-green-400 disabled:opacity-50"
    >
        Register
    </button>
</div>
