<div class="shadow-md rounded-lg p-6 bg-zinc-800 relative">
    <!-- TOP RIGHT BUTTONS -->
    <div class="flex gap-4 absolute top-3 right-3">    
        <button (click)="onEditGroup()" class="app-btn-primary py-1 px-2" title="Manage group">
            <i class="bi bi-pencil"></i>
        </button>
    </div>

    <!-- GROUP CARD -->
    <h2 class="text-xl font-semibold mb-4">{{ group.groupName }}</h2>
    <hr />

    <!-- MEMBERS DATA -->
    <h3 class="pt-8 font-bold tracking-wider">Members</h3>
    <ul class="pb-8">
        @for (member of members; track $index) {
            <li class="flex justify-between">
                <div class="flex items-center p-4">
                    <app-image-profile [imageUrl]="member.imageUrl" />
                    <div class="ml-3">
                        <p class="font-semibold text-white">{{ member.display_name }}</p>
                        <p class="text-gray-400 text-sm">
                            <span>{{ member.username }}</span>
                            @if (group.groupCreatedBy === member.accountId) {
                                <span class="text-blue-500 pl-2">owner</span>
                            }
                        </p>
                    </div>
                </div>
                <div class="flex items-center justify-center">
                    @if (gamesIndex[member.accountId]) {
                        has {{ gamesIndex[member.accountId].length }} games
                    }
                </div>
            </li>
        }
    </ul>

    <!-- INVITED MEMBERS -->
    @if (invitations.length > 0) {
        <hr />
        <h3 class="pt-8 font-bold tracking-wider">Invitations pending</h3>
        <ul class="pb-8 grid md:grid-cols-2">
        @for (invitation of invitations; track $index) {
            <li class="flex items-center p-4 opacity-40">
                <app-image-profile [imageUrl]="invitation.toAccount.imageUrl" />
                <div class="ml-3">
                    <p class="font-semibold text-white">{{ invitation.toAccount.display_name }}</p>
                    <p class="text-gray-400 text-sm">
                        <span>{{ invitation.toAccount.username }}</span>
                        @if (group.groupCreatedBy === invitation.toAccount.id) {
                            <span class="text-blue-500 pl-2">owner</span>
                        }
                    </p>
                </div>
            </li>
        }
        </ul>
    }

    <hr />

    <!-- GROUP DATA -->
    <div class="flex justify-between pt-4">
        <p class="text-gray-400 text-sm">
            <span class="font-semibold">Created:</span> {{ group.groupCreatedAt }}
        </p>
        <p class="text-gray-400">
            <span class="font-semibold">Total games:</span> {{ totalGames.length }}
        </p>
    </div>
</div>
