<div class="shadow-md rounded-lg p-6 bg-zinc-800 relative">
    <h2 class="text-xl font-semibold mb-4">{{ group.groupName }}</h2>
    <hr />
    <ul class="space-y-4 pt-8">
        @if (membersIndex[group.groupId]) {
            @for (member of membersIndex[group.groupId]; track $index) {
                <li class="pb-6">
                    <div class="flex items-center p-4">
                        <app-image-profile [imageUrl]="member.imageUrl" />
                        <div class="ml-3">
                            <p class="font-semibold text-white">{{ member.display_name }}</p>
                            <p class="text-gray-400 text-sm">{{ member.username }}</p>
                        </div>
                    </div>
                </li>
            }
        }
    </ul>

    <div class="flex gap-4 absolute top-3 right-3">
        <button class="app-btn-primary py-1 px-2" title="Add a member">
            <i class="bi bi-plus-circle"></i>
        </button>
    
        <button class="app-btn-primary py-1 px-2" title="Edit group">
            <i class="bi bi-pencil"></i>
        </button>
    </div>
</div>
