<div class="relative inline-block" (mouseenter)="showTooltip()" (mouseleave)="hideTooltip()">
    <ng-content></ng-content>

    @if (isVisible) {
    <div
        class="absolute z-10 bg-gray-800 text-white text-sm rounded py-1 px-2 transition-opacity duration-200 whitespace-nowrap"
        [ngClass]="{
            'bottom-full': position === 'top',
            'top-full': position === 'bottom',
            'left-full': position === 'right',
            'right-full': position === 'left',

            'left-1/2': position === 'top' || position === 'bottom',
            '-translate-x-1/2': position === 'top' || position === 'bottom',

            'top-1/2': position === 'left' || position === 'right',
            '-translate-y-1/2': position === 'left' || position === 'right',

            'mb-2': position === 'top',
            'mt-2': position === 'bottom',
            'ml-2': position === 'right',
            'mr-2': position === 'left'
        }"
        role="tooltip"
    >
        {{ text }}

        <div
            class="absolute w-0 h-0 border-8 border-solid border-transparent"
            [ngClass]="{
                'top-full': position === 'top',
                'bottom-full': position === 'bottom',
                'right-full': position === 'right',
                'left-full': position === 'left',

                'left-1/2': position === 'top' || position === 'bottom',
                '-translate-x-1/2': position === 'top' || position === 'bottom',

                'top-1/2': position === 'left' || position === 'right',
                '-translate-y-1/2': position === 'left' || position === 'right',

                'border-t-gray-800': position === 'top',
                'border-b-gray-800': position === 'bottom',
                'border-r-gray-800': position === 'right',
                'border-l-gray-800': position === 'left'
            }"
        ></div>
    </div>
    }
</div>
