<div class="relative inline-block" (mouseenter)="showTooltip()" (mouseleave)="hideTooltip()">
    <!-- The element that triggers the tooltip -->
    <ng-content></ng-content>

    <!-- The tooltip itself -->
    @if (isVisible) {
    <div
        class="absolute z-10 bg-gray-800 text-white text-sm rounded py-1 px-2 transition-opacity duration-200 whitespace-nowrap"
        [ngClass]="{
            'bottom-full left-1/2 -translate-x-1/2 mb-2': position === 'top',
            'top-full left-1/2 -translate-x-1/2 mt-2': position === 'bottom',
            'left-full top-1/2 -translate-y-1/2 ml-2': position === 'right',
            'right-full top-1/2 -translate-y-1/2 mr-2': position === 'left',
        }"
        role="tooltip"
    >
        {{ text }}

        <!-- The tooltip arrow -->
        <div
            class="absolute w-0 h-0 border-8 border-solid border-transparent"
            [ngClass]="{
                'top-full left-1/2 -translate-x-1/2 border-t-gray-800': position === 'top',
                'bottom-full left-1/2 -translate-x-1/2 border-b-gray-800': position === 'bottom',
                'right-full top-1/2 -translate-y-1/2 border-l-gray-800': position === 'right',
                'left-full top-1/2 -translate-y-1/2 border-r-gray-800': position === 'left'
            }"
        ></div>
    </div>
    }
</div>
