<div class="dark:bg-zinc-800 flex items-center justify-start gap-4 p-2 flex-wrap text-nowrap border-b border-zinc-200 dark:border-zinc-700">
    <a routerLink="/dashboard" routerLinkActive="bg-zinc-300 dark:bg-zinc-800" class="app-btn-secondary">Dashboard</a>
    <a routerLink="/collection" routerLinkActive="bg-zinc-300 dark:bg-zinc-800" class="app-btn-secondary">Collection</a>
    <a routerLink="/groups" routerLinkActive="bg-zinc-300 dark:bg-zinc-800" class="app-btn-secondary">Groups</a>
    <a routerLink="/play" routerLinkActive="bg-zinc-300 dark:bg-zinc-800" class="app-btn-secondary">Play</a>
    -
    <a routerLink="/games" routerLinkActive="bg-zinc-300 dark:bg-zinc-800" class="app-btn-secondary">Games</a>
    <a routerLink="/reviews" routerLinkActive="bg-zinc-300 dark:bg-zinc-800" class="app-btn-secondary">Reviews</a>
    <a routerLink="/history" routerLinkActive="bg-zinc-300 dark:bg-zinc-800" class="app-btn-secondary">History</a>
</div>
