<div class="text-center px-4 pt-24">
    <h1 class="text-2xl font-bold mb-4">Email Verification</h1>
    @if (state === 'loading') {
        <p class="flex md:flex-row flex-col items-center justify-center text-gray-500 gap-x-2">
            <app-spinner />
            Please wait while we verify your email...
        </p>
    } @else if (state === 'error') {
        <p class="flex md:flex-row flex-col items-center justify-center text-red-500 gap-x-2">
            <i class="bi bi-x-circle"></i>
            <span>There was an error verifying your email.</span>
            <span>The token is invalid or expired.</span>
        </p>
    } @else if (state === 'success') {
        <div class="text-center">
            <p class="text-green-500 mb-4">
                <i class="bi bi-check-circle mr-2"></i> Your email has been verified successfully!
            </p>
            <p class="flex md:flex-row flex-col items-center justify-center text-gray-500 gap-x-2">
                <app-spinner />
                Redirecting to login page...
            </p>
        </div>
    }
</div>
