<div class="container mx-auto max-w-6xl justify-center items-center mb-40">
    <title-subtitle title="Plan Today’s Meet">
        Select who’s coming today and discover the best games for your group. <br />
        Games are sorted based on everyone’s preferences and the last time you played them together.
    </title-subtitle>

    <!-- 2 columns - left: selectable list; right: games sorted -->
    <div class="grid xl:grid-cols-3 gap-y-12">
        <!-- left col -->
        <section class="p-4">
            <h2 class="text-xl font-semibold mb-4">{{ groupData?.name }}</h2>
            <hr />

            <ul class="grid gap-y-4 mt-4">
                @for (member of groupData?.members; track $index) {
                <button
                    (click)="onClickMember(member.id)"
                    class="bg-zinc-800 rounded-lg cursor-pointer flex items-center justify-start border"
                    [ngClass]="{
                        'border-zinc-800': !selectedUserIds.includes(member.id),
                        'border-green-400': selectedUserIds.includes(member.id),
                    }"
                >
                    <!-- indicator -->
                    <div
                        class="h-4 w-4 rounded-full mx-4"
                        [ngClass]="{
                            'bg-gray-400': !selectedUserIds.includes(member.id),
                            'bg-green-400': selectedUserIds.includes(member.id),
                        }"
                    ></div>
                    <app-card-account
                        [member]="member"
                        [ngClass]="{
                            'opacity-30': !selectedUserIds.includes(member.id),
                        }"
                    />
                </button>
                }
            </ul>
            <button (click)="onCreateDraft()" class="app-btn-primary mt-4" title="Create draft meeting button">
                Save selection
            </button>
        </section>

        <!-- right col -->
        <section class="p-4 col-span-2">
            <h2 class="text-xl font-semibold mb-4">Recommended Games:</h2>
            <hr />
            <div class="flex gap-2 flex-wrap pt-4">
                @for (game of totalGames ; track $index) {
                <div>
                    <app-card-game
                        [title]="game.title"
                        [imageUrl]="game.imageUrl"
                        [gameAvgDuration]="game.gameAvgDuration"
                        [minPlayers]="game.minPlayers"
                        [maxPlayers]="game.maxPlayers"
                        [review]="avgReviewsIndex[game.id]"
                    />
                </div>
                }
            </div>
        </section>
    </div>
</div>
