<app-page-header titleText="My Games" [showActionButton]="true">
    Browse and manage your board game collection

    <app-button class="action-button" icon="plus-lg" routerLink="/collection/browse">Explore Games</app-button>
</app-page-header>
<container-wrapper>
    @if (isLoadingUserGames()) {
        <section class="flex flex-wrap gap-4">
            <app-skeleton-card-game />
            <app-skeleton-card-game />
            <app-skeleton-card-game />
        </section>
    } @else if (userGames$().length === 0) {
        <!-- no data -->
        <div class="text-center text-secondary">
            <p>No games found</p>
        </div>
    } @else {
        <section class="flex flex-wrap gap-4">
            @for (game of userGames$(); track game.id) {
                <app-card-game
                    [routerLink]="['/games', game.id]"
                    [title]="game.titleTranslations.en"
                    [imageUrl]="game.imageUrl"
                    [gameAvgDuration]="game.gameAvgDuration"
                    [minPlayers]="game.minPlayers"
                    [maxPlayers]="game.maxPlayers"
                />
            }
        </section>
    }
</container-wrapper>
