<title-subtitle title="Reset Password">
    Write your email and we will send you a link to reset your password.
</title-subtitle>

<form
    [formGroup]="requestResetPasswordForm"
    (ngSubmit)="onSubmit()"
    class="flex flex-col gap-4 rounded p-8 w-96 mx-auto"
>
    <!-- 1. EMAIL -->
    <div>
        <input
            type="email"
            formControlName="email"
            placeholder="Email ..."
            class="app-input"
            [class]="emailClass"
            autofocus
            required
        />
        <div *ngIf="email?.invalid && (email?.dirty || email?.touched)">
            <div *ngIf="email?.hasError('required')" class="text-sm text-red-500 py-1">
                <i class="bi bi-exclamation-circle-fill"></i> Email is required.
            </div>
            <div *ngIf="email?.hasError('email')" class="text-sm text-red-500 py-1">
                <i class="bi bi-exclamation-circle-fill"></i> Email format is wrong.
            </div>
            <div *ngIf="email?.hasError('maxlength')" class="text-sm text-red-500 py-1">
                <i class="bi bi-exclamation-circle-fill"></i> Email is too long.
            </div>
        </div>
    </div>

    <!-- 3. SUBMIT -->
    <button
        type="submit"
        [disabled]="requestResetPasswordForm.invalid"
        class="app-btn-primary text-xl"
        required
    >
        Send
    </button>
</form>
