<!-- Dialog overlay -->
@if (isVisible) {
<div class="fixed inset-0 bg-zinc-900 bg-opacity-50 flex justify-center items-center">
    <!-- Dialog box -->
    <div class="bg-zinc-900 rounded-2xl border border-zinc-700 w-3/4 max-w-4xl relative">
        <!-- Close button -->
        <button (click)="hideDialog()" class="py-2 px-4 rounded-lg hover:bg-zinc-800 absolute top-2 right-2">
            <i class="bi bi-x-lg"></i>
        </button>
        <!-- Dialog content -->
        <div class="flex flex-col md:flex-row">
            <!-- Left sidebar -->
            <div class="md:w-1/4 border-r border-zinc-700 p-4 bg-zinc-800 rounded-l-2xl md:min-h-[30rem]">
                <h2 class="text-2xl">Account</h2>
                <h3 class="text-gray-500 text-sm">Manage your account info.</h3>

                <div class="pt-4 grid gap-2">
                    <button
                        (click)="tabView = 0"
                        [class]="tabView === 0 ? 'bg-zinc-900' : ''"
                        class="flex gap-2 py-2 px-4 rounded-lg hover:bg-zinc-900 w-full"
                    >
                        <i class="bi bi-person-circle"></i>
                        <span>Profile</span>
                    </button>
                    <button
                        (click)="tabView = 1"
                        [class]="tabView === 1 ? 'bg-zinc-900' : ''"
                        class="flex gap-2 py-2 px-4 rounded-lg hover:bg-zinc-900 w-full"
                    >
                        <i class="bi bi-shield-lock-fill"></i>
                        <span>Security</span>
                    </button>
                </div>
            </div>
            <!-- Right content area -->
            <div class="md:w-3/4 p-8">
                <!-- TABVIEW 0 - PROFILE DETAILS -->
                @if (tabView === 0) {
                <h3 class="text-lg font-semibold border-b border-zinc-500 pb-4">Profile details</h3>

                <!-- Profile Picture and Name -->
                <div class="flex flex-col lg:flex-row gap-2 lg:items-center items-start border-b border-zinc-500 py-4">
                    <h3 class="w-48 text-gray-500">Profile</h3>
                    <form-update-profile class="w-full" />
                </div>

                <!-- Username -->
                <div class="flex flex-col lg:flex-row gap-2 lg:items-center items-start border-b border-zinc-500 py-4">
                    <h3 class="w-48 text-gray-500">Username</h3>
                    <form-update-username class="w-full" />
                </div>
                }

                <!-- TABVIEW 1 - SECURITY -->
                @if (tabView === 1) {
                <h3 class="text-lg font-semibold border-b border-zinc-500 pb-4">Security</h3>

                <!-- Email addresses -->
                <div class="flex flex-col lg:flex-row gap-2 lg:items-center items-start border-b border-zinc-500 py-4">
                    <h3 class="w-48 text-gray-500">Email address</h3>
                    <form-update-email class="w-full" />
                </div>

                <!-- Password -->
                <div class="flex flex-col lg:flex-row gap-2 lg:justify-items-center justify-items-end border-b border-zinc-500 py-4">
                    <h3 class="w-48 text-gray-500">Password</h3>
                    <button class="app-btn-secondary">Change password</button>
                </div>

                <!-- Delete account -->
                <div class="flex flex-col lg:flex-row gap-2 lg:items-center items-start border-b border-zinc-500 py-4">
                    <h3 class="w-48 text-gray-500">Delete account</h3>
                    <div>
                        <button
                            class="flex gap-2 py-2 px-4 rounded-lg hover:bg-red-400/20 w-full text-red-400 font-bold tracking-wide"
                        >
                            Delete account
                        </button>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
</div>
}
