@if (isFinished) {
    <div class="text-center py-4">
        <p class="text-green-400">
            <i class="bi bi-check-circle mr-2"></i> We have sent you an email.
        </p>
        <p class="text-gray-400">
            Please check <span class="text-white font-bold">{{ email?.value || 'your email' }}</span> for a verification link.
        </p>
    </div>
} @else {
<form
    [formGroup]="registerFormGroup"
    (ngSubmit)="handleRegister()"
    class="flex flex-col gap-4 rounded bg-zinc-800 p-8 w-96 mx-auto"
>
    <!-- 1. EMAIL -->
    <div>
        <input
            type="email"
            formControlName="email"
            placeholder="Email ..."
            class="app-input"
            [class]="emailClass"
            required
        />
        <div *ngIf="!email?.invalid && (email?.dirty || email?.touched) && !isCheckingEmail">
            <div *ngIf="isEmailAvailable" class="text-sm text-green-500 py-1">
                <i class="bi bi-check-lg"></i> Email is available.
            </div>
            <div *ngIf="!isEmailAvailable" class="text-sm text-red-500 py-1">
                <i class="bi bi-x-lg"></i> Email is not available.
            </div>
        </div>
        <div *ngIf="email?.invalid && (email?.dirty || email?.touched)">
            <div *ngIf="email?.hasError('required')" class="text-sm text-red-500 py-1">
                <i class="bi bi-exclamation-circle-fill"></i> Email is required.
            </div>
            <div *ngIf="email?.hasError('email')" class="text-sm text-red-500 py-1">
                <i class="bi bi-exclamation-circle-fill"></i> Email format is wrong.
            </div>
            <div *ngIf="email?.hasError('maxlength')" class="text-sm text-red-500 py-1">
                <i class="bi bi-exclamation-circle-fill"></i> Email is too long.
            </div>
        </div>
    </div>

    <!-- 2. Username -->
    <div>
        <input
            type="text"
            formControlName="username"
            placeholder="username ..."
            class="app-input"
            [class]="usernameClass"
            required
        />
        <div *ngIf="!username?.invalid && (username?.dirty || username?.touched) && !isCheckingUsername">
            <div *ngIf="isUsernameAvailable" class="text-sm text-green-500 py-1">
                <i class="bi bi-check-lg"></i> Username is available.
            </div>
            <div *ngIf="!isUsernameAvailable" class="text-sm text-red-500 py-1">
                <i class="bi bi-x-lg"></i> Username is not available.
            </div>
        </div>
        <div *ngIf="username?.invalid && (username?.dirty || username?.touched)">
            <div *ngIf="username?.hasError('required')" class="text-sm text-red-500 py-1">
                <i class="bi bi-exclamation-circle-fill"></i> Username is required.
            </div>
            <div *ngIf="username?.hasError('minlength')" class="text-sm text-red-500 py-1">
                <i class="bi bi-exclamation-circle-fill"></i> Username is too short.
            </div>
            <div *ngIf="username?.hasError('maxlength')" class="text-sm text-red-500 py-1">
                <i class="bi bi-exclamation-circle-fill"></i> Username is too long.
            </div>
        </div>
    </div>

    <!-- 3. PASSWORD -->
    <div>
        <input
            type="password"
            formControlName="password"
            placeholder="Password ..."
            class="app-input"
            [class]="passwordClass"
            required
        />
        <div *ngIf="password?.invalid && (password?.dirty || password?.touched)">
            <div *ngIf="password?.hasError('required')" class="text-sm text-red-500 py-1">
                <i class="bi bi-exclamation-circle-fill"></i> Password is required.
            </div>
            <div *ngIf="password?.hasError('minlength')" class="text-sm text-red-500 py-1">
                <i class="bi bi-exclamation-circle-fill"></i> Password is too short.
            </div>
            <div *ngIf="password?.hasError('maxlength')" class="text-sm text-red-500 py-1">
                <i class="bi bi-exclamation-circle-fill"></i> Password is too long.
            </div>
        </div>
    </div>

    <!-- 4. CONFIRM PASSWORD -->
    <div>
        <input
            type="password"
            formControlName="confirmPassword"
            placeholder="Confirm password ..."
            class="app-input"
            [class]="confirmPasswordClass"
            required
        />
        <div *ngIf="confirmPassword?.dirty || confirmPassword?.touched">
            <div *ngIf="passwordsDoNotMatch" class="text-sm text-red-500 py-1">
                <i class="bi bi-exclamation-circle-fill"></i> Passwords do not match.
            </div>
        </div>
    </div>

    <!-- 5. SUBMIT -->
    <button
        type="submit"
        [disabled]="disableSubmit"
        class="app-btn-primary px-6! py-4! text-xl"
        required
    >
        Register
    </button>
</form>
}
