@if (member(); as member) {
<div class="flex min-w-0 items-center justify-start" [ngClass]="{
    'p-4': format() === 'default',
    'p-2': format() === 'compact',
}">
    <app-image-profile [avatar]="member.avatar" />
    <div class="ml-3 min-w-0 text-start">
        <p class="truncate font-semibold" [ngClass]="format() === 'compact' ? 'max-w-full' : 'max-w-[140px]'">{{ member.displayName }}</p>
        <p class="truncate text-sm text-secondary" [ngClass]="format() === 'compact' ? 'max-w-full' : 'max-w-[140px]'">
            <span>{{ member.username }}</span>
            @if (isOwner()) {
            <span class="text-bv-primary pl-2">owner</span>
            }
        </p>
    </div>
</div>
}
