<div class="flex justify-start items-center" [ngClass]="{
    'p-4': format === 'default',
    'p-2': format === 'compact',
}">
    <app-image-profile [avatar]="member.avatar" />
    <div class="ml-3 text-nowrap text-start">
        <p class="font-semibold max-w-[140px] overflow-hidden text-ellipsis">{{ member.displayName }}</p>
        <p class="text-secondary text-sm max-w-[140px] overflow-hidden text-ellipsis">
            <span>{{ member.username }}</span>
            @if (isOwner) {
            <span class="text-blue-500 pl-2">owner</span>
            }
        </p>
    </div>
</div>
