<!-- Profile Picture and Dropdown Trigger -->
<div class="relative">
    <button (click)="toggleDropdown()" class="relative">
        <app-image-profile [imageUrl]="userData?.imageUrl" />
        @if (userInvitations.length + userUnreadNotifications.length) {
            <div class="absolute -bottom-1 -right-1 bg-blue-600 rounded-full h-5 w-5 flex items-center justify-center">
                <span class="text-sm">{{ userInvitations.length + userUnreadNotifications.length }}</span>
            </div>
        }
    </button>

    <!-- Dropdown Menu -->
    @if (isDropdownVisible) {
    <div class="absolute right-0 mt-2 w-56 bg-zinc-900 border border-zinc-700 rounded-lg shadow-xl">
        <div class="flex items-center p-4">
            <app-image-profile [imageUrl]="userData?.imageUrl" />
            <div class="ml-3">
                <p class="font-semibold text-white">{{ userData?.display_name }}</p>
                <p class="text-gray-400 text-sm">{{ userData?.username }}</p>
            </div>
        </div>
        <div class="border-t border-zinc-700">
            <button (click)="onClickProfileSettings()" class="flex items-center gap-2 w-full px-4 py-2 text-left text-white hover:bg-zinc-800 border-b border-zinc-700">
                <i class="bi bi-gear"></i> Manage account
            </button>
            <button (click)="onClickInvitations()" class="flex items-center gap-2 w-full px-4 py-2 text-left text-white hover:bg-zinc-800 border-b border-zinc-700">
                <i class="bi bi-envelope"></i> Group Invitations
                @if (userInvitations.length) {
                    <div class="bg-blue-600 rounded-full h-5 w-5 flex items-center justify-center">
                        <span class="text-sm">{{ userInvitations.length }}</span>
                    </div>
                }
            </button>
            <button (click)="onClickNotifications()" class="flex items-center gap-2 w-full px-4 py-2 text-left text-white hover:bg-zinc-800 border-b border-zinc-700">
                <i class="bi bi-bell"></i> Notifications
                @if (userUnreadNotifications.length > 0) {
                    <div class="bg-blue-600 rounded-full h-5 w-5 flex items-center justify-center">
                        <span class="text-sm">{{ userUnreadNotifications.length }}</span>
                    </div>
                }
            </button>
            <button (click)="onClickSignOut()" class="flex items-center gap-2 w-full px-4 py-2 text-left text-white hover:bg-zinc-800">
                <i class="bi bi-box-arrow-right"></i> Sign out
            </button>
        </div>
    </div>
    }
</div>

<!-- Modal: Profile Settings -->
<app-modal-profile-settings />

<!-- Modal: Invitations -->
<app-modal-profile-invitations />

<!-- Modal: Notifications -->
<app-modal-profile-notifications />
