<div class="bg-zinc-200 dark:bg-zinc-800/50 rounded-lg p-3 animate-pulse">
    <div class="flex items-center gap-3 w-full">
        <div
            class="h-16 w-16 rounded-lg border border-zinc-300 dark:border-zinc-700 overflow-hidden bg-cover bg-no-repeat bg-center shrink-0"
        ></div>

        <div class="grow min-w-0">
            <div class="h-4 bg-zinc-300 dark:bg-zinc-700 rounded w-24 mb-2"></div>
            <div class="h-2 bg-zinc-300 dark:bg-zinc-700 rounded w-36"></div>
        </div>
    </div>
</div>
