<app-page-header titleText="Game Reviews" [showActionButton]="true">
    Your reviews of board games

    <app-button class="action-button" icon="plus-lg" routerLink="/collection/browse">Explore Games</app-button>
</app-page-header>

<container-wrapper>
    <!-- Loading state -->
    @if (isLoadingReviews()) {
        <section class="flex flex-wrap gap-4">
            <app-skeleton-card-game />
            <app-skeleton-card-game />
            <app-skeleton-card-game />
        </section>
    } @else if (userReviews$().length === 0) {
        <!-- no data -->
        <div class="text-center text-secondary">
            <p>No reviews available yet. Start rating your games!</p>
        </div>
    } @else {
        <h2 class="text-2xl font-bold tracking-wide pb-4">Pending Reviews</h2>
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-4">
            @for (game of pendingReviewsComputed(); track $index) {
                <app-review-row [game]="game" [review]="0" />
            }
        </div>

        <h2 class="text-2xl font-bold tracking-wide pb-4 pt-16">Your Reviews</h2>
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-4">
            @for (review of userReviews$(); track $index) {
                <app-review-row [game]="review.gameData" [review]="review.review" />
            }
        </div>
    }
</container-wrapper>
