<h2 class="text-2xl font-bold tracking-wide pb-2">Contact</h2>
<p class="text-gray-400 pb-8">Need help? Get in touch with us.</p>

<div class="space-y-4 md:max-w-lg">
    <!-- --------------------------------------------
                    1. Feature requests
    -------------------------------------------- -->
    <a
        rel="noopener noreferrer"
        class="block rounded-lg border border-neutral-800 p-4 transition-colors hover:bg-neutral-200/40 hover:dark:bg-neutral-800/40"
        href="/sso/featurebase"
        target="_blank"
    >
        <div class="flex items-center gap-4">
            <i class="bi bi-stars text-fuchsia-400 text-2xl"></i>
            <div>
                <h3>Have any idea or suggestion?</h3>
                <p class="text-sm text-neutral-400">Propose ideas or vote on community requests</p>
            </div>
        </div>
    </a>

    <!-- --------------------------------------------
                    2. Bug reports
    -------------------------------------------- -->
    <a
        rel="noopener noreferrer"
        class="block rounded-lg border border-neutral-800 p-4 transition-colors hover:bg-neutral-200/40 hover:dark:bg-neutral-800/40"
        href="/sso/featurebase"
        target="_blank"
    >
        <div class="flex items-center gap-4">
            <i class="bi bi-bug text-orange-400 text-2xl"></i>
            <div>
                <h3>Found any bug?</h3>
                <p class="text-sm text-neutral-400">Report them and we'll fix them as soon as possible</p>
            </div>
        </div>
    </a>

    <!-- --------------------------------------------
                    3. Email support
    -------------------------------------------- -->
    <!-- <a href="mailto:support@ping.gg" class="block rounded-lg border border-neutral-800 p-4 transition-colors hover:bg-neutral-800/40">
        <div class="flex items-center gap-4">
            <i class="bi bi-exclamation-circle text-red-400 text-2xl"></i>
            <div>
                <h3 class="font-medium text-neutral-100">Having account or billing issues?</h3>
                <p class="text-sm text-neutral-400">Email us for priority support - {{ 'support@board-vault.com' }}</p>
            </div>
        </div>
    </a> -->

    <!-- --------------------------------------------
                    4. Discord community
    -------------------------------------------- -->
    <!-- <a
        href="https://discord.gg/{{ 'TODO: discord server id'}}"
        target="_blank"
        rel="noopener noreferrer"
        class="block rounded-lg border border-neutral-800 p-4 transition-colors hover:bg-neutral-800/40"
    >
        <div class="flex items-center gap-4">
            <i class="bi bi-discord text-indigo-400 text-2xl"></i>
            <div>
                <h3 class="font-medium text-neutral-100">Join our community!</h3>
                <p class="text-sm text-neutral-400">Connect with us on Discord! Engage with the team and users.</p>
            </div>
        </div>
    </a> -->
</div>
