@if (notification) {
    <div class="rounded-lg p-4 text-sm flex items-center justify-between bg-zinc-200 dark:bg-zinc-800 {{notification.isRead ? 'opacity-50' : ''}}">
    <!-- LEFF: icon + text -->
    <div>
        <div class="flex items-center justify-start gap-x-2">
            <i
                class="text-xl"
                [ngClass]="{
                    'bi bi-person-fill-add': notification.type === 'invitation_accepted',
                    'fa fa-ban': notification.type === 'expulsion',
                    'fa fa-sign-out-alt': notification.type === 'member_left',
                    'fa fa-gamepad': notification.type === 'new_games'
                }"
            ></i>
            <p>{{ notification.message }}</p>
        </div>
        <p>{{ notificationDate }}</p>
    </div>
    <!-- RIGHT: buttons -->
    <div class="text-lg">
        @if(!notification.isRead){
            <button class="app-button p-2 mr-2" (click)="markAsRead()">
                <i class="bi bi-check"></i>
            </button>
        }
        <button class="app-button p-2" (click)="deleteNotification()">
            <i class="bi bi-trash"></i>
        </button>
    </div>
</div>
}
