@if (notification(); as notification) {
    <div class="flex items-center justify-between rounded-lg bg-bv-surface-2 p-4 text-sm" [class.opacity-50]="notification.isRead">
    <!-- LEFF: icon + text -->
    <div>
        <div class="flex items-center justify-start gap-x-2">
            <app-icon [name]="iconFor(notification.type)" [size]="20" />
            <p>{{ notification.message }}</p>
        </div>
        <p>{{ notificationDate() }}</p>
    </div>
    <!-- RIGHT: buttons -->
    <div class="text-lg">
        @if(!notification.isRead){
            <button appButton variant="secondary" size="small" type="button" class="mr-2 p-2" (click)="markAsRead()" aria-label="Mark notification as read">
                <app-icon name="check" [size]="18" />
            </button>
        }
        <button appButton variant="secondary" size="small" type="button" class="p-2" (click)="deleteNotification()" aria-label="Delete notification">
            <app-icon name="trash" [size]="18" />
        </button>
    </div>
</div>
}
