/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

$color-primary: #006CBE;
$color-primary-hover: #0078d4;

@layer components {
    .app-input {
        @apply rounded border border-zinc-400 dark:border-zinc-700 bg-white dark:bg-zinc-900 disabled:bg-zinc-200 dark:disabled:bg-zinc-800 px-4 py-2 w-full;
    }

    // Base button styles (common styles for all buttons)
    .app-btn {
        @apply py-2 px-4 font-bold rounded shadow tracking-wide cursor-pointer disabled:opacity-50 disabled:cursor-not-allowed;
    }

    // --------------------------------------------------------------------------
    // Backgrounds & Borders (to define component heights)
    // --------------------------------------------------------------------------
    .app-bg-primary {
        @apply bg-white dark:bg-zinc-950;
    }

    .app-bg-secondary {
        @apply bg-zinc-50 dark:bg-zinc-900 border border-zinc-200 dark:border-zinc-800 shadow-sm;
    }

    .app-bg-tertiary {
        @apply bg-zinc-200 dark:bg-zinc-800 border border-zinc-300 dark:border-zinc-700 shadow-sm;
    }

    // --------------------------------------------------------------------------
    // Buttons
    // --------------------------------------------------------------------------
    .app-btn-primary {
        @extend .app-btn;
        @apply shadow-blue-500 bg-blue-600 hover:bg-blue-500;
    }

    .app-btn-danger {
        @extend .app-btn;
        @apply shadow-red-500 bg-red-600 hover:bg-red-800;
    }

    .text-secondary {
        @apply text-zinc-600 dark:text-zinc-400;
    }
}

html,
body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    scroll-behavior: smooth;
}

// for DEBUG: uncomment this to test how a page/component looks with/without transitions
// ofc this should never reach production uncommented for performance reasons
// * {
//     transition: all 0.3s ease;
// }
