/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

$color-primary: #006CBE;
$color-primary-hover: #0078d4;

@layer components {
    .app-input {
        @apply rounded border border-zinc-700 bg-zinc-900 px-4 py-2 w-full;
    }

    // Base button styles (common styles for all buttons)
    .app-btn {
        @apply py-2 px-4 font-bold rounded shadow tracking-wide cursor-pointer disabled:opacity-50;
    }

    .app-btn-primary {
        @extend .app-btn;
        @apply shadow-blue-500 bg-blue-600 hover:bg-blue-500;
    }

    .app-btn-secondary {
        @extend .app-btn;
        @apply shadow-zinc-500 bg-zinc-700 hover:bg-zinc-800;
    }

    .app-btn-error {
        @extend .app-btn;
        @apply shadow-red-500 bg-red-600 hover:bg-red-800;
    }
}

html,
body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    scroll-behavior: smooth;
}

* {
    transition: all 0.3s ease;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #ccc;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;

    &:hover {
        background: $color-primary;
    }
}