<container-wrapper *ngIf="loaded">
    <title-subtitle title="{{ groupData?.name }} - {{ meetData?.meetDate ?? '' | customDate }}">
        Select who assisted and which games have been played
    </title-subtitle>

    <!-- original <br />
    {{ meetDataCopyOriginal | json }}<br /><br />
    modified <br />
    {{ meetData | json }} -->

    <!-- Attendees -->
    <section class="p-4">
        <h2 class="text-xl font-semibold mb-4">Select the attendees</h2>
        <hr />

        <ul class="grid grid-cols-4 gap-4 mt-4">
            @for (member of groupData?.members; track $index) {
            <button
                (click)="onClickMember(member.id)"
                class="bg-zinc-800 rounded-lg cursor-pointer flex items-center justify-start border"
                [ngClass]="{
                    'border-zinc-800': !meetData?.attendees?.includes(member.id),
                    'border-green-400': meetData?.attendees?.includes(member.id),
                }"
            >
                <!-- indicator -->
                <div
                    class="h-4 w-4 rounded-full ml-4"
                    [ngClass]="{
                        'bg-gray-400': !meetData?.attendees?.includes(member.id),
                        'bg-green-400': meetData?.attendees?.includes(member.id),
                    }"
                ></div>
                <div class="flex items-center justify-between w-full">
                    <app-card-account
                        [member]="member"
                        [ngClass]="{
                                'opacity-30': !meetData?.attendees?.includes(member.id),
                            }"
                    />
                    <div class="text-gray-400 text-sm mr-4">
                        {{ member.games.length }} {{ member.games.length === 1 ? 'game' : 'games' }}
                    </div>
                </div>
            </button>
            }
        </ul>
    </section>

    <!-- Games played -->
    <section class="p-4 col-span-2">
        <div class="relative">
            <h2 class="text-xl font-semibold mb-4">Select the games played</h2>
            <button
                [title]="disableSaveGamesPlayed ? 'No changes to save' : 'Save selection'"
                (click)="onClickMeetConfirm()"
                class="app-btn-primary absolute -top-2 right-0"
            >
                Confirm
            </button>
        </div>
        <hr />
        <div class="grid grid-cols-4 gap-4 pt-4">
            @for (game of totalGames ; track $index) {
            <button
                (click)="onClickGame(game.id)"
                class="bg-zinc-800 rounded-lg cursor-pointer flex items-center justify-start border p-2"
                [ngClass]="{
                        'border-zinc-800': !meetData?.playedGames?.includes(game.id),
                        'border-green-400': meetData?.playedGames?.includes(game.id),
                    }"
            >
                <!-- indicator -->
                <div
                    class="h-4 w-4 rounded-full ml-2 mr-4"
                    [ngClass]="{
                        'bg-gray-400': !meetData?.playedGames?.includes(game.id),
                        'bg-green-400': meetData?.playedGames?.includes(game.id),
                    }"
                ></div>

                <!-- card / image -->
                <div
                    class="h-20 w-20 roundd-lg"
                    [ngClass]="{
                        'opacity-30': !game.active
                    }"
                >
                    <image-background [src]="game.imageUrl" class="h-24" />
                </div>

                <!-- card / data -->
                <div
                    class="ml-3 text-nowrap overflow-hidden text-ellipsis whitespace-nowrap"
                    [ngClass]="{
                        'opacity-30': !game.active
                    }"
                >
                    <p class="font-semibold text-white">{{ game.title }}</p>
                    <p class="text-gray-400 text-sm text-start w-full"><i class="bi bi-clock-fill"></i> {{ game.gameAvgDuration }} mins</p>
                    <p class="text-gray-400 text-sm text-start">
                        <i class="bi bi-people-fill"></i> {{ game.minPlayers }} - {{ game.maxPlayers }}
                    </p>
                </div>
            </button>
            }
        </div>
    </section>
</container-wrapper>
