<!-- Profile Picture and Dropdown Trigger -->
<div class="relative">
    <button (click)="toggleDropdown()">
        <img src="https://via.placeholder.com/40" alt="Profile Picture" class="rounded-full w-10 h-10 cursor-pointer" />
    </button>

    <!-- Dropdown Menu -->
    @if (isDropdownVisible) {
    <div class="absolute right-0 mt-2 w-56 bg-zinc-900 border border-zinc-700 rounded-lg shadow-xl">
        <div class="flex items-center p-4">
            <img src="https://via.placeholder.com/40" alt="Profile Picture" class="rounded-full w-10 h-10 mr-3" />
            <div>
                <p class="font-semibold text-white">{{ userData?.display_name }}</p>
                <p class="text-gray-400 text-sm">{{ userData?.display_name }}</p>
            </div>
        </div>
        <div class="border-t border-zinc-700">
            <button (click)="onClickProfileSettings()" class="flex items-center gap-2 w-full px-4 py-2 text-left text-white hover:bg-zinc-800 border-b border-zinc-700">
                <i class="bi bi-gear"></i> Manage account
            </button>
            <button (click)="onClickSignOut()" class="flex items-center gap-2 w-full px-4 py-2 text-left text-white hover:bg-zinc-800">
                <i class="bi bi-box-arrow-right"></i> Sign out
            </button>
        </div>
    </div>
    }
</div>

<app-profile-settings />
