<div
    class="rounded-xl shadow-sm border hover:shadow-md transition overflow-hidden group"
    [ngClass]="{
        'border-blue-200 dark:border-blue-800 hover:border-blue-200 dark:hover:border-blue-800 bg-blue-100 dark:bg-blue-800/20': color === 'blue',
        'border-indigo-200 dark:border-indigo-800 hover:border-indigo-200 dark:hover:border-indigo-800 bg-indigo-100 dark:bg-indigo-800/20': color === 'indigo',
        'border-green-200 dark:border-green-800 hover:border-green-200 dark:hover:border-green-800 bg-green-100 dark:bg-green-800/20': color === 'green',
        'border-yellow-200 dark:border-yellow-800 hover:border-yellow-200 dark:hover:border-yellow-800 bg-yellow-100 dark:bg-yellow-800/20': color === 'yellow',
        'border-red-200 dark:border-red-800 hover:border-red-200 dark:hover:border-red-800 bg-red-100 dark:bg-red-800/20': color === 'red',
        'border-purple-200 dark:border-purple-800 hover:border-purple-200 dark:hover:border-purple-800 bg-purple-100 dark:bg-purple-800/20': color === 'purple',
        'border-orange-200 dark:border-orange-800 hover:border-orange-200 dark:hover:border-orange-800 bg-orange-100 dark:bg-orange-800/20': color === 'orange',
        'border-gray-200 dark:border-gray-800 hover:border-gray-200 dark:hover:border-gray-800 bg-gray-100 dark:bg-gray-800/20': color === 'gray',
    }"
>
    <a routerLink="{{ cardLink }}" class="block p-6">
        <div class="flex items-start">
            <!--TODO: fix the colored square of the icon-->
            <!-- Icon -->
            <div
                class="w-12 h-12 bg-{{color}}-100 dark:bg-{{color}}-900/30 rounded-lg flex items-center justify-center mr-4 group-hover:bg-{{color}}-200 dark:group-hover:bg-{{color}}-900/50 transition"
            >
                <i class="bi bi-{{ icon }} text-2xl text-{{color}}-600 dark:text-{{color}}-400"></i>
            </div>

            <!-- Title and description -->
            <div class="flex-1">
                <div class="flex justify-between items-center mb-2">
                    <h2 class="text-xl font-bold text-zinc-900 dark:text-white">{{ titleText }}</h2>
                    <ng-content select=".app-card-section-badge" />
                </div>
                <p class="text-zinc-600 dark:text-zinc-300">{{ description }}</p>

                <div class="mt-6 flex justify-between items-center">
                    <!-- Card content -->
                    <ng-content />
                </div>
            </div>
        </div>
    </a>
</div>
