<div class="w-full flex flex-col md:flex-row justify-between items-start gap-4">
  <div class="flex items-center">
    <form [formGroup]="updateProfileFormGroup">
      <div>
        <input
          type="text"
          formControlName="displayName"
          aria-label="Display name"
          class="app-input"
          [class]="displayNameClass"
          required
          />
        @if (displayName?.invalid && (displayName?.dirty || displayName?.touched)) {
          <div>
            @if (displayName?.hasError('required')) {
              <div class="text-sm text-bv-danger py-1">
                <app-icon name="circle-alert" [size]="16" /> display name is required.
              </div>
            }
            @if (displayName?.hasError('minlength')) {
              <div class="text-sm text-bv-danger py-1">
                <app-icon name="circle-alert" [size]="16" /> display name is too short.
              </div>
            }
            @if (displayName?.hasError('maxlength')) {
              <div class="text-sm text-bv-danger py-1">
                <app-icon name="circle-alert" [size]="16" /> display name is too long.
              </div>
            }
          </div>
        }
      </div>
    </form>
  </div>

  @if (!isEditing){
    <button appButton variant="secondary" (click)="toggleEditing()">Change display name</button>
    }@else {
    <div class="flex gap-4">
      <button appButton variant="secondary" (click)="onCancel()">Cancel</button>
      <button appButton variant="primary" [disabled]="disableSubmit" (click)="onSave()">Save</button>
    </div>
  }
</div>
