<container-wrapper *ngIf="loaded">
    <title-subtitle title="History">
        Your history of games played in the past meetings
    </title-subtitle>

    <!-- Attendees -->
    <section class="p-4">
        <h2 class="text-xl font-semibold mb-4">Select the attendees</h2>
        <hr />

        <ul class="grid grid-cols-4 gap-4 mt-4">
            @for (item of gamesHistory; track $index) {
                <div>
                    {{item.gameData.title}}
                </div>
            }
        </ul>
    </section>
</container-wrapper>
