<container-wrapper *ngIf="loaded">
    <title-subtitle title="History">
        Your history of games played in the past meetings
    </title-subtitle>

    <!-- Attendees -->
    <section class="p-4">
        <h2 class="text-xl font-semibold mb-4">Select the attendees</h2>
        <hr />

        <ul class="grid gap-4 mt-4">
            @for (item of gamesHistory; track $index) {
                <div class="bg-zinc-800">
                    <p>{{ item.gameData.title }}</p>
                    <img [src]="item.gameData.imageUrl" class="w-16 h-16" />
                    <p>{{ item.meetData.meetDate | customDate }}</p>
                    <p>{{ item.meetData.groupId }} group id</p>
                </div>
            }
        </ul>
    </section>
</container-wrapper>
